<!DOCTYPE html>
<html>
    <head>
        <title>活動小組</title>
        <%- include ../cdn.html %>        
    </head>
    <body>
        <%- include ./group_navbar.html %>  
        <div class="container-fluid" id="mainfuncNavBlank"></div>      
        <div class="continaer-fluid" id="groupPersoanlSpace">
            <div class="row">
                <div class="col-4">
                    <div class="card" id="personalIdeaList">
                        <div class="card-header"><i class="fas fa-heart text-light pr-1"></i>收藏的想法</div>
                        <div class="card-body"></div>
                    </div>
                </div>
                <div class="col">  
                    <div class="row">
                        <div class="card" id="personalConceptMap">
                            <div class="card-header"><i class="fas fa-brain text-light pr-1"></i>想法整理</div>
                            <div class="card-body">
                                <div id="personalConceptMapCanvas"></div>
                            </div>
                            <div class="card-footer">                                
                                <button type="button" class="btn btn-sm btn-primary float-right nodeFunc ml-2" data-toggle="modal" data-target="#addMindNode" disabled>新增</button>                               
                                <button type="button" class="btn btn-sm btn-success float-right nodeFunc ml-2" data-toggle="modal" data-target="#reviseMindNode" disabled>修改</button>                               
                                <button type="button" class="btn btn-sm btn-danger float-right nodeFunc ml-2" data-toggle="modal" data-target="#removeMindNode" disabled>刪除</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" id="personalNote">
                            <div class="card-header"><i class="fas fa-clipboard text-light pr-1"></i>個人筆記</div>
                            <div class="card-body">
                                <textarea name="newNote" id="newNote"></textarea>                                
                                <button type="button" class="btn btn-outline-info float-right mt-2">儲存筆記</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <!-- 取消想法收藏 -->
        <div class="modal fade" id="checkRemoveFavorite" tabindex="-1" role="dialog" aria-labelledby="checkRemoveFavoriteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  是否取消收藏？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" id="checkRemoveFavorite_btn">是</button>
                </div>
              </div>
            </div>
        </div>
        <div id="activityId" style="display: none;"><%= activityId %></div>
        <div id="groupId" style="display: none;"><%= groupId %></div>
        <div id="memberId" style="display: none;"><%= memberId %></div>
        <div id="memberName" style="display: none;"><%= memberName %></div>
        <div id="favoriteIdea" style="display: none;"><%= favoriteIdea %></div>
        <div id="personalMindNode"><%= personalMindNode %></div>
        <script type="text/javascript" src="/javascripts/checkSession.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/group_personal_space.js"></script>
    </body>
</html>